[class^='md-']:empty::after {
  content: '\200B';
}
.md-blockquote {
  position: relative;
  color: #666;
  margin-inline-start: 16px;
  margin-inline-end: 16px;
}
.md-blockquote::before {
  content: ' ';
  width: 4px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  left: -16px;
}

#editor {
  outline: none;
  background-color: #fff;
  width: 800px;
  min-height: calc(100vh - 10px);
  word-break: break-all;
  padding: 64px 76px;
  margin: auto;
  margin-top: 10px;
  box-sizing: border-box;
  white-space: pre-wrap;
  box-shadow: 0 0 30px 5px rgba(227, 234, 241, 0.8);
}
